@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: white;
}

.dark {
  --background: rgb(17 24 39 / 0.6); 
}

body {
  background-color: var(--background);
  transition: background-color 0.5s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


body {
  background-image: none;
}


.dark body {
  background-image: none;
}
